@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Add Client</h1>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.Name, new { placeholder = "Name"})<br>
  <br>
  @Html.TextBoxFor(model => model.Regular, new { placeholder ="Regular Style", style = "width: 183px"})<br>
  <br>
  @Html.TextBoxFor(model => model.Last, new { placeholder = "Last Visit", style = "width: 183px"})<br>
  <br>
  @Html.TextBoxFor(model => model.Total, new { @Type = "number", placeholder = "Total Visits"})<br>
  <br>
  @Html.DropDownList("StylistId")
  <br>
  <button type="submit">Add Client</button>
}
<button>@Html.ActionLink("All Clients", "Index")</button>