@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css">

@model HairSalon.Models.Client
<h2>@Model.Name - Details</h2>
<div class="contents">
  <p>@Html.DisplayFor(model => model.Name)</p>
  <p>@Html.DisplayNameFor(model => model.Regular) Cut: @Html.DisplayFor(model => model.Regular)</p>
  <p>@Html.DisplayNameFor(model => model.Last) Visit: @Html.DisplayFor(model => model.Last)</p>
  <p>@Html.DisplayNameFor(model => model.Total) Visits: @Html.DisplayFor(model => model.Total)</p>
  <p>Stylist: @Html.DisplayFor(model => model.Stylist.Name)</p>

  <button>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</button>
  <button>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</button>
  <button>@Html.ActionLink("Back to Clients", "Index")</button>
</div>