@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/index.css">

@model HairSalon.Models.Client

<h2>Edit</h2>
<div class="contents">
  <p>Edit Client: @Html.DisplayFor(model => model.Name)</p>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ClientId)
    @Html.EditorFor(model => model.Name)
    @Html.DropDownList("StylistId")

    <button type="submit">Save</button>
  }
  <br>
  <button>@Html.ActionLink("Back to Clients", "Index")</button>  
</div>
