@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No clients Yet</h3>
} 

@foreach (Client client in Model)
{
  <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li>
}

<button>@Html.ActionLink("Add Client", "Create")</button>
<button>@Html.ActionLink("Back", "Index", "Stylists")</button>
<button>@Html.ActionLink("Home", "Index", "Home")</button>